:root {
  --color0: #112211;
  --color1: #223322;
  --color2: #334433;
  --color3: #445544;
}

* {
  margin: 0;
  padding: 0;*/
}

p, label {
  font-family: Tahoma, Verdana, sans-serif;
}

html, body, div{
  height: 100%;
}

#auth {
  display: block;
}

.auth-grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1.4fr 0.6fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". login signup ."
    ". . . .";
}

.login { 
  grid-area: login; 
  background-color: var(--color1);
}

.signup { 
  grid-area: signup; 
  background-color: var(--color2);
}

#main-app {
  display: none;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "communities content friends";
}

.header-grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "left-header center-header right-header";
}

.right-header { 
  grid-area: right-header; 
  background-color: var(--color2);
}

.center-header { 
  grid-area: center-header; 
  background-color: var(--color0);
}

.left-header { 
  grid-area: left-header; 
  background-color: var(--color3);
}

.header { 
  grid-area: header; 
  background-color: var(--color0);
}

.content { 
  grid-area: content; 
  background-color: var(--color1);
  overflow-y:scroll
}

.communities { 
  grid-area: communities; 
  background-color: var(--color2);
  overflow-y:scroll
}

.friends { 
  grid-area: friends; 
  background-color: var(--color3);
  overflow-y:scroll
}

#user-settings {
  display: none;
}

.settings-grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    "settings-tabs settings-options";
}

.settings-options { 
  grid-area: settings-options; 
  background-color: var(--color1);
}

.settings-tabs { 
  grid-area: settings-tabs; 
  background-color: var(--color2);
  text-align: right;
}


